.news_text {
    background: #535759; 
    margin: 0 auto 5px auto;
    color: rgb(214, 214, 214);
    max-width: 1980px;
    width: 95%;
    padding-left: 10px;
    padding-top: 10px;
}
body{
    background-color: #b7b7b7;
}

#menu {
    background-color: #343738;
}
#menu a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
