{% extends "root.html" %}
{% block title %} Добавление принтера {% endblock title %}
{% block content %}
<div class="container-sm bg-dark text-light">
    <h5 class="display-5">Добавление принтера</h5>
<form action="/add_printer_post" method="POST">
    <input type="hidden" name="printer_id" value="0">
    <p><input class="form-control" placeholder="Название" type="text"   name="printer_name"></p>
    <p><input class="form-control" placeholder="Номер GLPI" type="text" name="printer_glpi_id"></p>
    <p><input class="form-control" placeholder="Комментарий"type="text" name="printer_note" value=""></p>
    <p><input class="form-control" placeholder="Порядковый номер"type="text" name="printer_num" value=""></p>
    <p><input class="btn btn-primary" type="submit" value="Отправить"></p>
</form>
<table class="table table-striped table-sm table-dark table-bordered">
    <thead>
    <tr>
        <th scope="col" class="col-md-2">Название</th>
        <th scope="col" class="col-md-2">GLPI id</th>
        <th scope="col" class="col-md-2">Комментарий</th>
        <th scope="col" class="col-sm-1"></th>
        <th scope="col" class="col-sm-1"></th>
    </tr>
    </thead>
</thead>
<tbody>
    {% for i in printers %}
    <tr>
        <form action="/update_printer_post" method="post">
            <td><input class="form-control" type="text" name="printer_name" value="{{i.printer_name}}"></td>
            <td><input class="form-control" type="text" name="printer_glpi_id" value="{{i.printer_glpi_id}}"></td>
            <td><input class="form-control" type="text" name="printer_note" value="{{i.printer_note}}"></td>
            <td >
                <input class="btn btn-primary" type="submit" value="Обновить">
            <input type="hidden" name="printer_active" value="{{i.printer_active}}">
        </form></td>
            <td>
                {% if i.printer_active %} 
                <form  method="post" action="/del_printer_post">
                    <input type="hidden" name="id_switched" value="{{i.printer_id}}">
                    <input type="hidden" name="activation_status" value=false>
                    <input class="btn btn-danger" type="submit" value="Скрыть">
                </form>
                {% else %}
                <form  method="post" action="/del_printer_post">
                    <input type="hidden" name="id_switched" value="{{i.printer_id}}">
                    <input type="hidden" name="activation_status" value=true>
                    <input class="btn btn-danger" type="submit" value="Показать">
                </form>
                {% endif %}
            </td>
            {#<td>
               <form action="/update_printer_int" method="post">
                    <input  type="number" onchange="this.parentElement.submit(this.value)" class="form-control" name="num" value="{{i.printer_num}}">
                    <input type="hidden" name="id" value="{{i.printer_id}}">
                </form>
            </td>#}
                </tr>
    {% endfor %}    
</tbody>
</table>
    <h5>Список принтеров</h5>
{% for i in printers %}
    <p>{{i.printer_glpi_id}}:{{i.printer_name}}</p>
{% endfor %}
</div>

{% endblock content %}