{% extends "root.html" %}
{% block title %} Добавление расположение {% endblock title %}
{% block content %}
<div class="container-sm bg-dark text-light">
    <h3>Добавление расположение</h3>
<form action="/add_dept_post" method="POST">
    <p><input class="form-control" placeholder="Расположение" type="text" name="dept_name"></p>
    <p><input class="form-control" placeholder="Комментарий"type="text" name="dept_note" value=""></p>
    <p><input class="btn btn-primary" type="submit" value="Отправить"></p>
</form>
<table class="table table-striped table-sm table-dark table-bordered">
    <thead>
    <tr>
        <th scope="col" class="col-sm-1">№</th>
        <th scope="col" class="col-md-4">Расположение</th>
        <th scope="col" class="col-md-3">Комментарий</th>
        <th scope="col" class="col-sm-1"></th>
        {% if admin %} <th scope="col" class="col-sm-1">Номер сортировки</th> {% endif %}
        <th scope="col" class="col-sm-1"></th>
        <th scope="col" class="col-sm-1"></th>
    </tr>
    </thead>
</thead>
<tbody>
    {% for i in depts %}
    <tr>
        <form action="/update_dept_post" method="post">
            <th><input class="form-control" type="hidden" name="dept_id" value="{{i.dept_id}}">{{i.dept_id}}</th>
            <td><input class="form-control" type="text" name="dept_name" value="{{i.dept_name}}"></td>
            <td><input class="form-control" type="text" name="dept_note" value="{{i.dept_note}}"></td>
	    <td><input class="form-control" type="hidden" name="dept_active" value="{{i.dept_active}}"></td>
            {% if admin %}<td><input class="form-control" type="number" name="dept_num" value="{{i.dept_num}}"></td>
            {% else %}<input class="form-control" type="hidden" name="dept_num" value="{{i.dept_num}}">{%endif%}
            <td >
                <input class="btn btn-primary" type="submit" value="Обновить">
        </form></td>
            <td>
                {% if i.dept_active %} 
                <form  method="post" action="/del_dept_post">
                    <input type="hidden" name="id_switched" value="{{i.dept_id}}">
                    <input type="hidden" name="activation_status" value=false>
                    <input class="btn btn-danger" type="submit" value="Скрыть">
                </form>
                {% else %}
                <form  method="post" action="/del_dept_post">
                    <input type="hidden" name="id_switched" value="{{i.dept_id}}">
                    <input type="hidden" name="activation_status" value=true>
                    <input class="btn btn-danger" type="submit" value="Показать">
                </form>
                {% endif %}
            </td>
            {# 
            <td>
               <form action="/update_dept_int" method="post">
                    <input  type="number" onchange="this.parentElement.submit(this.value)" class="form-control" name="num" value="{{i.dept_num}}">
                    <input type="hidden" name="id" value="{{i.dept_id}}">
                </form>
            </td>
            #}
    </tr>
    {% endfor %}    
</tbody>
</table>
</div>

{% endblock content %}
