{% extends "root.html" %}
{% block title %} Добавление модели {% endblock title %}
{% block content %}
<div class="container-sm bg-dark text-light">
    <h5 class="display-5">Добавление модели</h5>
<form action="/add_model_post" method="POST">
    <p><input class="form-control" placeholder="Модель" type="text" name="model_name"></p>
    <p><input class="form-control" placeholder="Комментарий"type="text" name="model_note" value=""></p>
    <p><input class="btn btn-primary" type="submit" value="Отправить"></p>
</form>
<table class="table table-striped table-sm table-dark table-bordered">
    <thead>
    <tr>
        <th scope="col" class="col-sm-1">№</th>
        <th scope="col" class="col-md-4">Модель</th>
        <th scope="col" class="col-md-3">Комментарий</th>
        {% if admin %} <th scope="col" class="col-sm-1">Номер сортировки</th> {% endif %}
        <th scope="col" class="col-sm-1"></th>
        <th scope="col" class="col-sm-1"></th>
    </tr>
    </thead>
</thead>
<tbody>
    {% for i in models %}
    <tr>
        <form action="/update_model_post" method="post">
            <th><input class="form-control" type="hidden" name="model_id" value="{{i.model_id}}">{{i.model_id}}</th>
            <td><input class="form-control" type="text" name="model_name" value="{{i.model_name}}"></td>
            <td><input class="form-control" type="text" name="model_note" value="{{i.model_note}}"></td>
            {% if admin %}<td><input class="form-control" type="number" name="model_num" value="{{i.model_num}}"></td>
            {% else %}<input class="form-control" type="hidden" name="model_num" value="{{i.model_num}}">{%endif%}
            
            <input class="form-control" type="hidden" name="model_active" value="true">
            <td >
                <input class="btn btn-primary" type="submit" value="Обновить">
        </form></td>
            <td>
                {% if i.model_active %} 
                <form  method="post" action="/del_model_post">
                    <input type="hidden" name="id_switched" value="{{i.model_id}}">
                    <input type="hidden" name="activation_status" value=false>
                    <input class="btn btn-danger" type="submit" value="Скрыть">
                </form>
                {% else %}
                <form  method="post" action="/del_model_post">
                    <input type="hidden" name="id_switched" value="{{i.model_id}}">
                    <input type="hidden" name="activation_status" value=true>
                    <input class="btn btn-danger" type="submit" value="Показать">
                </form>
                {% endif %}
            </td>
            {# <td>
               <form action="/update_model_int" method="post">
                    <input  type="number" onchange="this.parentElement.submit(this.value)" class="form-control" name="num" value="{{i.model_num}}">
                    <input type="hidden" name="id" value="{{i.model_id}}">
                </form>
            </td> #}
    </tr>
    {% endfor %}    
</tbody>
</table>
</div>
{% endblock content %}