{% extends "root.html" %}
{% block title %} Добавление статуса {% endblock title %}
{% block content %}
<div class="container-sm bg-dark text-light">
    <h5 class="display-5">Добавление статуса</h5>
<form action="/add_status_post" method="POST">
    <input type="hidden" name="status_id" value="0">
    <input type="hidden" name="status_num" value="0">
    <p><input class="form-control" placeholder="Статус" type="text" name="status_name"></p>
    <p><input class="form-control" placeholder="Комментарий"type="text" name="status_note" value=""></p>
    <p><input class="btn btn-primary" type="submit" value="Отправить"></p>
</form>
<table class="table table-striped table-sm table-dark table-bordered">
    <thead>
    <tr>
        <th scope="col" class="col-sm-1">№</th>
        <th scope="col" class="col-md-4">Модель</th>
        <th scope="col" class="col-md-3">Комментарий</th>
        {% if admin %} <th scope="col" class="col-sm-1">Номер сортировки</th> {% endif %}
        <th scope="col" class="col-sm-1"></th>
        <th scope="col" class="col-sm-1"></th>
    </tr>
    </thead>
</thead>
<tbody>
    {% for i in statuses %}
    <tr>
        <form action="/update_status_post" method="post">
            <th><input type="hidden" name="status_id" value="{{i.status_id}}">{{i.status_id}}</th>
            <td><input class="form-control" type="text" name="status_name" value="{{i.status_name}}"></td>
            <td><input class="form-control" type="text" name="status_note" value="{{i.status_note}}"></td>
            <input type="hidden" name="" value="{{i.status_num}}">
            {% if admin %}<td><input class="form-control" type="number" name="status_num" value="{{i.status_num}}"></td>
            {% else %}<input class="form-control" type="hidden" name="status_num" value="{{i.status_num}}">{%endif%}
            <input type="hidden" name="status_active" value="{{i.status_active}}">
            <td >
                <input class="btn btn-primary" type="submit" value="Обновить">
        </form></td>
            <td>
                {% if i.status_active %} 
                <form  method="post" action="/del_status_post">
                    <input type="hidden" name="id_switched" value="{{i.status_id}}">
                    <input type="hidden" name="activation_status" value=false>
                    <input class="btn btn-danger" type="submit" value="Скрыть">
                </form>
                {% else %}
                <form  method="post" action="/del_status_post">
                    <input type="hidden" name="id_switched" value="{{i.status_id}}">
                    <input type="hidden" name="activation_status" value=true>
                    <input class="btn btn-danger" type="submit" value="Показать">
                </form>
                {% endif %}
            </td>
            {# <td>
               <form action="/update_status_int" method="post">
                    <input  type="number" onchange="this.parentElement.submit(this.value)" class="form-control" name="num" value="{{i.status_num}}">
                    <input type="hidden" name="id" value="{{i.status_id}}">
                </form>
            </td> #}
    </tr>
    {% endfor %}    
</tbody>
</table>
</div>
{% endblock content %}