{% extends "root.html" %}
{% block title %} Добавление картриджа {% endblock title %}
{% block content %}
<div class="container-md p-2 bg-dark text-light">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-5">Добавление картриджа</h1>
                </div>
            </div>
            <div class="row">
                <form method="post">
                    <div class="col">
                        <div class="row p-2">
                            <div class="col">
                                <span>Модель: </span>
                            </div>
                            <div class="col">
                                <select class="form-select" name="model_id" id="">
                                    {% for i in models %} 
                                        <option value="{{i.model_id}}">{{i.model_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-2">
                            <div class="col">
                                <span>Статус: </span>
                            </div>
                            <div class="col">
                                <select class="form-select form-select" name="status_id" id="">
                                    {% for i in statuses %}
                                        <option value="{{i.status_id}}">{{i.status_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-2">
                            <div class="col">
                                <span>Расположение: </span>
                            </div>
                            <div class="col">
                                <select class="form-select form-select" name="dept_id" >
                                    {% for i in depts %}
                                        <option value="{{i.dept_id}}">{{i.dept_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-2">
                            <div class="col">
                                <span>Пользователь/Кабинет: </span>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" name="cartrige_place" value="" placeholder="Дополнение к расположению">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-2">
                            <div class="col">
                                <span>Принетр: </span>
                            </div>
                            <div class="col">
                                <select class="form-select form-select" name="printer_id" >
                                    {% for i in printers %}
                                        <option value="{{i.printer_id}}">{{i.printer_name}}{% if i.printer_name != ''%}:{% endif %}{{i.printer_glpi_id}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-2">
                            <div class="col">
                                <span>Комментарий: </span>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" name="cartrige_note"  value="" placeholder="Комментарий">
                            </div>
                        </div>
                    </div>
                    <div class="col p-3 d-flex justify-content-between">
                        <input type="submit" class="btn btn-primary p-1" formaction="/add_cartrige_post" value="Добавить и продолжить">
                        <input type="submit" class="btn btn-primary p-1" formaction="/add_cartrige_post_next" value="Добавить и открыть">
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <p>
                Добавление картриджей.
            </p>
            <p>
                Колонка пользователь/кабинет служит для уточнения местоположения картриджа.
            </p>
            <p>
                К примеру Расположение - 7 отделение, а дополнением к нему будет "пост"
            </p>
            <p>
                Из обязательных - Модель и статус.
            </p>
            <p>
                Принтеры ещё реализованны не окончательно, но уже сейчас можно <a href="/add_printer">создать принтер</a> и назначить его к конкретному картриджу.
            </p>
        </div>
    </div>
</div>
{% endblock content %}