{% extends "root.html" %}
{% block content %}
<div class="news_text table-responsive lg">
    <table class="table table-dark table-sm table-striped">
        <thead>
            <tr>
            <th scope="col sm">№</th>
            <th scope="col">Модель</th>
            <th scope="col">Статус</th>
            <th scope="col">Расположение</th>
            <th scope="col sm">Пользователь/Кабинет</th>
            <th scope="col">Принетр</th>
            <th scope="col">Комментарий</th>
            <th scope="col">Дата</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
        {% if admin or cartrige.active %}        
            <tr><form action="/update_cartrige" method="post">
                <th scope="row">
                    <input type="hidden" name="cartrige_id" value="{{cartrige.cartrige_id}}">
                    {{cartrige.cartrige_id}}
                </th>
                <td>
                    <select class="form-select sm" name="model_id" id="">
                        {% for i in models %} 
                            <option {% if cartrige.model_id == i.model_name %} selected {% endif %} value="{{i.model_id}}">{{i.model_name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select sm-1" name="status_id" id="">
                        {% for i in statuses %}
                            <option {% if cartrige.status_id == i.status_name %} selected {% endif %} value="{{i.status_id}}">{{i.status_name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select" name="dept_id" id="">
                        {% for i in depts %}
                            <option {% if cartrige.dept_id == i.dept_name %} selected {% endif %} value="{{i.dept_id}}">{{i.dept_name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input class="form-control" type="text" name="cartrige_place" value="{{cartrige.cartrige_place}}" aria-label="deafult input example">
                </td>
                <td>
                <select class="form-select form-select" name="printer_id" >
                        {% for i in printers %}
                            <option {% if cartrige.printer_id == i.printer_name %} selected {% endif %} value="{{i.printer_id}}">{{i.printer_name}}{% if i.printer_name != ''%}:{% endif %}{{i.printer_glpi_id}}</option>
                        {% endfor %}
                    </select>
                    </td>
                <td>
                    <input class="form-control" type="text" name="cartrige_note" id="" value="{{cartrige.cartrige_note}}" placeholder="Комментарий">
                </td>
                <td>
                    <label class="sr-only">{{cartrige.cartrige_date}}</label>
                </td>
                <td>
                    <input type="submit" class="form-control btn-primary" value="Сохранить"> </form>
                </td>
                <td>
                    <form action="/del_cartrige_post" method="post">
                        <input type="hidden" name="id_switched" value="{{cartrige.cartrige_id}}">
                        <input type="hidden" name="activation_status" value = {% if cartrige.active == true %} "false" {% else %} "true" {% endif %}>
                        <input type="submit" class="form-control btn-warning" value={% if cartrige.active == true %} "Удалить" {% else %} "Востановить" {% endif %}> 
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <th>Картридж был удалён. Обратитесь к администратору</th>
            </tr>
        {% endif %}
        </tbody>
    </table>
<select id="el-printer-list"><option selected="selected">TSC TE200</option><option>Microsoft XPS Document Writer</option><option>Microsoft Print to PDF</option><option>MFP0050 (WF-M5690 Series)</option><option>Fax</option></select>
<input id="el-print-button" type="button" value="Печать">
</div>
<div class="news_text table-responsive lg">
    <table class="table table-dark table-sm table-striped">
        <thead>
            <tr>
            <th scope="col sm">№</th>
            <th scope="col">Модель</th>
            <th scope="col">Статус</th>
            <th scope="col">Расположение</th>
            <th scope="col sm">Пользователь/Кабинет</th>
            <th scope="col">Принетр</th>
            <th scope="col">Изменил</th>
            <th scope="col">Комментарий</th>
            <th scope="col">Дата</th>
            <th></th>
            </tr>
        </thead>
        <tbody>        
            {% for i in history %}
            <tr>
                <th>{{ i.history_id }}</th>
                <th>{{ i.history_model }}</th>
                <th>{{ i.history_status }}</th>
                <th>{{ i.history_dept }}</th>
                <th>{{ i.history_place }}</th>
                <th>{{ i.history_printer }}</th>
                <th>{{ i.history_user }}</th>
                <th>{{ i.history_note }}</th>
                <th>{{ i.history_date }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
function printLabel(printerName, commands) {
    BarsBrowserPlugin.send("PrintLabel", { printerName, commands }, (result, error) => {
        if(error) {
            alert(error);
        } else {
            console.info("result", result);
        }
    })
}

function getPrinterList(callback) {
    BarsBrowserPlugin.send("GetPrinterList", {}, (result, error) => {
        if(error) {
        alert(error);
        } else {
        console.info("result", result);
        callback && callback(result.list);
        }
    })
}

function printe(printer){
    var command = `
^XA
^BY1,2,2
^FT40,30
^AQN,30,15
^FDIRK IOIKB
^FS
^FT40,55
^AQN,30,15
^FD{{cartrige.model_id}}
^FS
^FT40,120
^BCN,40,N,N
^BY2
^FD{{cartrige.cartrige_id}}
^FS
^FT40,150
^AQN,30,15
^FD{{cartrige.cartrige_id}}
^FS 
^XZ`;
    console.log(command);
    console.log(printer);
    printLabel(printer, command);
}

const load = () => {
    if(!window["BarsBrowserPlugin"]) {
        console.error("Could not initialize \"BARS Browser Plugin Adapter\" extension");
        return;
    }
    let printers = document.getElementById("el-printer-list");
    getPrinterList((list) => {
        list.forEach((printer) => {
        let option = document.createElement("option");
        option.text = printer;
        printers.add(option);
        });
    });

    document.getElementById("el-print-button")
      .addEventListener("click", () => {
        let printerName = document.getElementById("el-printer-list").value;
        printe(printerName);
    });
}
window.onload = load;
</script>
{% endblock content %}
