{% extends "root.html" %}
{% block title %} Личный кабинет {% endblock title %}
{% block username %} {{username}} {% endblock username %}
{% block content %}
    <div class="container px-4 bg-dark text-light">
        <div class="row">
            <div class="col">
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <p class="h3">Приветствуем, {{ username }}</p>
                    </div>
                    <div class="col">
                        <form action="/logout" method="post">
                            <input type="submit" class="btn btn-danger" value="Выход">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6 container-sm">
                <div class="row justify-content-center">
                    <div class="col text-center align-self-center">
                        <span class="h5">Обновление своего пароля</span>
                    </div>
                </div>
                <div class="row justify-content-center input-group mb-3">
                    <div class="col-md-8 align-self-center">
                        <form method="POST" class="input-group align-items-center" action="/update_self_pass">
                                <input type="password" class="form-control md-2" name="password">
                                <input class="btn btn-primary sm-1" type="submit" value="Обновить">
                        </form>
                    </div>
                </div>
            </div>
{% if admin %}
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h4>Создание нового пользователя</h4>
                    </div>
<form method="POST" action="/register">
                    <div class="col">
                        <div class="md-3">
                            <div class="col">
                                <label class="form-label">Логин:</label>
                                <input type="text" name="username" class="form-control">
                            </div>
                        </div>
                        <div class="md-3">
                            <div class="col">
                                <label class="form-label">Пароль:</label>
                                <input type="password" name="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col p-4">
                        <input type="submit" value="Зарегестрироваться" class="btn btn-block btn-primary">
                    </div>
                </div>
</form>    
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 p-3">
                        <a href="/admin/edit_settings" class="btn btn-primary" role="button" data-toggle="button">Настроки</a>
                    </div>
                    <div class="col-12 p-3">
                        <a href="/mass_print" class="btn btn-primary" role="button" data-toggle="button">Предраспечатка для направлений</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h3>Пользователи</h3>
                    </div>
                    <div class="col">
                        <table class="table-dark table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="col">Имя мользоваталя</th>
                                <th scope="col" class="col">Изменение пароля</th>
                                <th scope="col" class="col">Назначить админа</th>
                                <th scope="col" class="col">Блокпользователя</th>
                            </tr>
                            </thead>
                            <tbody>
                        {% for user in users %}
                                <tr>
                                <th scope="row" class="col-sm">
                                    <a href="/user/{{user.id}}">{{user.name}}</a>
                                </th>
                                <td class="col-sm">
                                    <form action="/update_password" method="post">
                                        <input type="hidden" name="username" value="{{user.name}}">
                                        <input type="password" class="form-control form-control-sm" name=password>
                                        <input type="submit" value="Изменить пароль" class="btn btn-primary">
                                    </form>
                                </td>
                                <td class="col-sm">
                                    {% if user.admin %}
                                    <form action="/set_nadmin" method="post">
                                        <input type="hidden" name="user_id" value="{{user.id}}">
                                        <input type="submit" value="Не админ" class="btn btn-warning">
                                    </form>
                                    {% else %}
                                    <form action="/set_admin" method="post">
                                        <input type="hidden" name="user_id" value="{{user.id}}">
                                        <input type="submit" value="В админы" class="btn btn-warning">
                                    </form>
                                    {% endif %}
                                </td>
                                <td class="col-sm">
                                    <form action="/hide_user" method="post">
                                        <input type="hidden" name="user_id" value="{{user.id}}">
                                        <input type="submit" value="Заблокировать" class="btn btn-danger">
                                    </form>
                                </td></tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
    </div>
{% endblock content %}