{% extends "root.html" %}
{% block title %} Авторизация {% endblock title %}
{% block content %}
    <div class="container-sm bg-dark text-light p-3">
        <div class="row">
            <div class="col">
                <span>Авторизация</span>
            </div>
        </div>
        <form method="POST" action="/login">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span>Логин: </span>
                        </div>
                        <div class="col">
                            <input type="text" name="username">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            Пароль: 
                        </div>
                        <div class="col">
                            <input type="password" name="password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Вход">
                </div>
            </form>
    </div>
{% endblock content %}