<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6d7d80;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/view_page/1">Картриджный управленец</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">            
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                     role="button" data-toggle="dropdown" aria-expanded="false">
                        Списки
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/add_model">модели</a></li>
                        <li><a class="dropdown-item" href="/add_status">статусы</a></li>
                        <li><a class="dropdown-item" href="/add_dept">расположения</a></li>
                        <li><a class="dropdown-item" href="/add_printer">принтеры</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mb-2 mb-lg-0" href="/add_cartrige">Добавление картриджа </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mb-2 mb-lg-0" href="/lk">Личный кабинет</a>
                </li>
            </ul>
            <form class="d-flex" method="GET" action="/view_ctgr">
                <input class="form-control mr-2" autofocus type="text" name="id" placeholder="номер картриджа" aria-label="номер картриджа">
            </form>
        </div>
    </div>
</nav>
