{% extends "root.html" %}
{% block title %} Массовая печать этикеток {% endblock title %}
{% block head %}
    <script src="/static/js/printer.js"></script>
{% endblock head %}
{% block content %}
<div class="container-sm bg-dark text-light">
<input name="double" type="checkbox" id="double" checked>
<br>
<label for="double"> По два?</label>
<label> Начальный номер</label>
<input id="n_start" type="number" value="0">
<br>
<label> Конечный номер</label>
<input id="n_end" type="number" value="440">
<br>
<label> Отделение</label>
<select id="otd">
    <option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option selected="selected">8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
</select>

<br>
<label> Выбор принтера</label>
<select id="el-printer-list"><option selected="selected">TSC TE200</option><option>Microsoft XPS Document Writer</option><option>Microsoft Print to PDF</option><option>MFP0050 (WF-M5690 Series)</option><option>Fax</option></select>
<br>
<label> Шаблон </label>
<br>
<textarea id="el-commands" cols="40" rows="20">^XA
^BY1,2,2
^FT40,90
^BCN,70,N,N
^FD@NUMBER@
^FS
^FT40,135
^AQN,30,15
^FD@NUMBER@
^FS 
^XZ
</textarea>
<br>
<br>
<input id="el-print-button" type="button" value="Печать">
</div>
<script>

function printLabel(printerName, commands) {
    BarsBrowserPlugin.send("PrintLabel", { printerName, commands }, (result, error) => {
        if(error) {
            alert(error);
        } else {
            console.info("result", result);
        }
    })
}

function getPrinterList(callback) {
    BarsBrowserPlugin.send("GetPrinterList", {}, (result, error) => {
        if(error) {
        alert(error);
        } else {
        console.info("result", result);
        callback && callback(result.list);
        }
    })
}

function print_range(start, end, printer, otdelenie, command1, double){
    var command = ""
    var today_date = new Date();

    for (let i = parseInt(start); parseInt(i) <=  end; i++) {
        let numbert = i.toString().padStart(4,"0");
        let code = otdelenie.toString().padStart(2,"0") + today_date.getFullYear().toString().slice(2).padStart(2,"0") + (today_date.getMonth()+1).toString().padStart(2,"0")+  today_date.getDate().toString().padStart(2,"0") + numbert;
        let command2 = command1.replace("@NUMBER@", code);
        command2 = command2.replace("@NUMBER@", code);
        let gtsd =  "^XA\n^BY1.3,2,2\n^FT340,110\n^BCN,100,Y,N\n^FD" + code + "\n^FS\n^XZ";
        command += command2;
        if (double){

          command += command2;
        }
        console.log(i);
    }
    console.log(start, end);
    printLabel(printer, command);
}

const load = () => {
    if(!window["BarsBrowserPlugin"]) {
        console.error("Could not initialize \"BARS Browser Plugin Adapter\" extension");
        return;
    }
    let printers = document.getElementById("el-printer-list");
    getPrinterList((list) => {
        list.forEach((printer) => {
        let option = document.createElement("option");
        option.text = printer;
        printers.add(option);
        });
    });

    var command = document.getElementById("el-commands").innerHTML;
    console.log(command.replace("@NUMBER@", "0001"));

    document.getElementById("el-print-button")
      .addEventListener("click", () => {
        let printerName = document.getElementById("el-printer-list").value;
        let command = document.getElementById("el-commands").value;
        let otdelenie = document.getElementById("otd").value;
        let n_start = document.getElementById("n_start").value;
        let n_end = document.getElementById("n_end").value;
        let double = document.getElementById("double").checked;
        print_range(n_start, n_end, printerName, otdelenie, command, double);
    });
}
window.onload = load;
</script>
{% endblock content %}
