<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Картриджный управленец{% endblock title %}</title> 
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<link rel="stylesheet" href="/static/css/news.css">
    {% block head %}
    {% endblock head %}
</head>
<body>
{% include "menu.html" %}
{% block content %}
{% endblock content %}
</body>
