{% extends "root.html" %}
{% block title %} Настройки {% endblock title %}
{% block content %}
    <div class="container bg-dark">
    <form action="/update/settings" method="post">
        <div class="row">
            <div class="col">
                <h3>Настройка</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped table-sm table-dark table-bordered">
                    <thead>
                        <th>Настройка</th>
                        <th>Параметр</th>
                    </thead>
                <tr>
                    <td>
                        <span>model_sort_ida</span>
                    </td>
                    <td>
                        <input type="text" name="model_sort_ida" value="{{settings.model_sort_ida}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>depts_sort_ida</span> 
                    </td>
                    <td>
                        <input type="text" name="depts_sort_ida" value="{{ settings.depts_sort_ida }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>status_sort_ida</span> 
                    </td>
                    <td>
                        <input type="text" name="status_sort_ida" value="{{ settings.status_sort_ida }}">
                    </td>
                </tr>
                </div>
                <tr>
                    <td>
                        <span>org_name</span> 
                    </td>
                    <td>
                        <input type="text" name="org_name" value="{{settings.org_name}}"> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>admin_ex</span>
                    </td>
                    <td>
                        <input type="text" name="admin_ex" value="{{settings.admin_ex}}">
                    </td>
                </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Изменить">
            </div>
        </div>
    </form>
    </div>
{% endblock %}