{% extends "root.html" %}
{% block title %} Личный кабинет {% endblock title %}
{% block content %}
{% set user_groups_int = user_groups| map(attribute="group_id")%}
    <div class="news_text">
        <h3>Редактирование пользователя {{ user.name }}</h3>
    </div>
    <div class="news_text container-sm px-4 text_light">
        <div class="row px-2 gx-2">
            <div class="col-md-2">
                <p class="form-label">Пароль</p>
            </div>
        </div>
        <div class="row px-2 gx-2">
            <div class="col-md-5">
                <form class="input-group mb-3 align-items-center" action="/update_password" method="post">
                    <input type="hidden" name="username" value="{{user.name}}">
                    <input type="password" class="form-control sm-3" name=password>
                    <input type="submit" value="Изменить пароль" class="btn btn-primary sm-1">
                </form>
            </div>
        </div>
    </div>

    <div class="news_text container-sm px-4">
        <div class="row px-2 gx-2">
            <div class="col">
                <p>Действия</p>
            </div>
        </div>
        <div class="row px-2 gx-2">
            <div class="col-sm-5">
            {% if user.admin %}
                <form action="/set_nadmin" method="post">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="submit" value="Не админ" class="btn btn-warning sm-5">
                </form>
            {% else %}
                <form action="/set_admin" method="post">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="submit" value="В админы" class="btn btn-warning sm-5">
                </form>
            {% endif %}
            </div>
        </div>
        <div class="row px-2 gx-2">
            <div class="col-sm-5">
                <form action="/hide_user" method="post">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="submit" value="Заблокировать" class="btn btn-danger sm-5">
                </form>
            </div>
        </div>
    </div>
    <div class="news_text container-sm px-4">
        <div class="row px-2 gx-2">
            <div class="col">
                <p>Группы</p>
            </div>
        </div>
        <div class="row px-2">
            <div class="col-sm-5">
                <form action="/add_group" method="post">
                    <input type="text" class="sm-4" name="group_name">
                    <input type="submit" value="+" class="btn sm-1 btn-primary">
                </form>
            </div>
        </div>
        <div class="row row-cols-auto">
            {% for group in groups %}
                <div class="col">
                    <form action="/user_group_activate" method="POST">
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <input type="hidden" name="group_id" value="{{group.id}}">
                        <input type="hidden" name="status" value={% if group.id in user_groups_int %} 0 {% else %} 1 {% endif %}>
                        <input type="submit" class="btn {% if group.id in user_groups_int %} btn-primary {% else %} btn-danger {% endif %}" value="{{group.name}}">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}