{% extends "root.html" %}
{% block title %} Картриджи {% endblock title %}
{% block content %}
<script src="/static/js/view_page.js"></script>
<div class="container-fluid p-2 bg-dark text-light">
    <form class="row" id="form1" action="/view_page_filter/1" method="get">
        <span class="col-1">Статус</span> 
        <select class="form-select col-1-sm" onchange="this.parentElement.submit(this.value)" name="status_id" id="" value="{{filters.status_id}}">
            {% for i in statuses %}
                <option {% if i.status_id == filters.status_id %} selected {% endif %} value="{{i.status_id}}">{{i.status_name}}</option>
            {% endfor %}
        </select>
        <span class="col-1">Модель</span> 
        <select class="form-select col-1-sm" onchange="this.parentElement.submit(this.value)" name="model_id" id="">
            {% for i in models %}
                <option {% if i.model_id == filters.model_id %} selected {% endif %} value="{{i.model_id}}">{{i.model_name}}</option>
            {% endfor %}
        </select>
        <span class="col-1">Расположение</span> 
        <select class="form-select col-1-sm" onchange="this.parentElement.submit(this.value)" name="dept_id" id="">
            {% for i in depts %}
                <option {% if i.dept_id == filters.dept_id %} selected {% endif %} value="{{i.dept_id}}">{{i.dept_name}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="sort" value="{{sort}}">
        </form>
    <div class="row">
        <div class="col">
            <table class="table table-dark table-sm table-striped">
            {% set cols      = ["id", "model", "status", "dept",         "place",                "printer", "note", "date"] %}
            {% set col_names = ["№", "Модель", "Статус", "Расположение", "Пользователь/Кабинет", "Принтер", "Заметки", "Дата"] %}
                <thead>
                    {% if cart_n > 0 %}
                    {% for col in cols %}
                    <th 
                        scope="col" 
                        class="col-sm-1" 
                        onclick="sendFormData({% if sort == col %}`{{col}}_d`{% else %}`{{col}}`{% endif %})">  
                            {{col_names[loop.index0]}}
                            {% if sort == col %}
                                &#9650
                            {% else %}
                                {% if sort == col ~ "_d" %}
                                    &#9660
                                {% endif %}
                            {% endif %}
                            </th>
                    {% endfor %}
                    <th scope="col" class="col-sm-1">Действия</th>
                    </tr>
                </thead>
            <tbody>        
            {% for cartrige in cartriges %}
                    <tr><form action="/update_cartrige" method="post">
                        <th scope="row">
                            <input type="hidden" name="cartrige_id" value="{{cartrige.cartrige_id}}">
                            <a href="/view_ctgr?id={{cartrige.cartrige_id}}">{{cartrige.cartrige_id}}</a>
                        </th>
                        <td>
                            <select class="form-select sm" name="model_id" id="">
                                {% for i in models %} 
                                    <option {% if cartrige.model_id == i.model_name %} selected {% endif %} value="{{i.model_id}}">{{i.model_name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="form-select sm-1" name="status_id" id="">
                                {% for i in statuses %}
                                    <option {% if cartrige.status_id == i.status_name %} selected {% endif %} value="{{i.status_id}}">{{i.status_name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="form-select" name="dept_id" id="">
                                {% for i in depts %}
                                    <option {% if cartrige.dept_id == i.dept_name %} selected {% endif %} value="{{i.dept_id}}">{{i.dept_name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cartrige_place" value="{{cartrige.cartrige_place}}" aria-label="deafult input example">
                        </td>
                        <td>
                        <select class="form-select form-select" name="printer_id" >
                                {% for i in printers %}
                                    <option {% if cartrige.printer_id == i.printer_name %} selected {% endif %} value="{{i.printer_id}}">{{i.printer_name}}{% if i.printer_name != ''%}:{% endif %}{{i.printer_glpi_id}}</option>
                                {% endfor %}
                            </select>
                            </td>
                        <td>
                            <input class="form-control" type="text" name="cartrige_note" id="" value="{{cartrige.cartrige_note}}" placeholder="Комментарий">
                        </td>
                        <td>
                            <label class="form-control-plaintext text-light">{{cartrige.cartrige_date}}</label>
                        </td>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Сохранить"> 
                        </td>
                    </form></tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% set max_page = cart_n / 100 | round(method="ceil", ) %}
    {% set max_page = max_page |int %}
    <div class="row">
        <div class="col">
            <p>{{cart_n}}</p>
        </div>
    </div>
    <div class="row">

    <nav class="col">
        <ul class="pagination pagination-lg justify-content-center">
    {% for i in range(end=page, start=1) %}
                <li class="page-item"> 
                    <a class="page-link" style="color:black" href="/view_page_filter/{{i}}?status_id={{filters.status_id}}&model_id={{filters.model_id}}&dept_id={{filters.dept_id}}&sort={{filters.sort}}">
                        {{i}}
                    </a>
                </li>
    {% endfor %}
    {% if max_page > 1 %}
                <li class="page-item active"> 
                    <a class="page-link" style="color:black" href="/view_page_filter/{{page }}?status_id={{filters.status_id}}&model_id={{filters.model_id}}&dept_id={{filters.dept_id}}&sort={{filters.sort}}">
                        {{page}}
                    </a>
                </li>
    {% endif %}
    {% for i in range(end=max_page+1, start=page+1) %}
                {% if cart_n > page * 100 %}
                    <li class="page-item"> 
                        <a class="page-link" style="color:black" href="/view_page_filter/{{i}}?status_id={{filters.status_id}}&model_id={{filters.model_id}}&dept_id={{filters.dept_id}}&sort={{filters.sort}}">
                            {{i}}
                        </a>
                    </li>
                {% endif %}
    {% endfor %}
        </ul>
    </nav>

    {% endif %}
    </div>
        <select id="el-printer-list"><option selected="selected">TSC TE200</option><option>Microsoft XPS Document Writer</option><option>Microsoft Print to PDF</option><option>MFP0050 (WF-M5690 Series)</option><option>Fax</option></select>
        <input id="el-print-button" type="button" value="Печать">
</div>
<script>
function printLabel(printerName, commands) {
    BarsBrowserPlugin.send("PrintLabel", { printerName, commands }, (result, error) => {
        if(error) {
            alert(error);
        } else {
            console.info("result", result);
        }
    })
}

function getPrinterList(callback) {
    BarsBrowserPlugin.send("GetPrinterList", {}, (result, error) => {
        if(error) {
        alert(error);
        } else {
        console.info("result", result);
        callback && callback(result.list);
        }
    })
}

function printe(printer){
    var command = `
    {% for cartrige in cartriges %}
^XA
^BY1,2,2
^FT310,25
^AQN,30,15
^FDIRK IOIKB
^FS
^FT310,55
^AQN,30,15
^FD{{cartrige.model_id}}
^FS
^FT310,105
^BCN,40,N,N
^BY2
^FD{{cartrige.cartrige_id}}
^FS
^FT310,125
^AQN,30,15
^FD{{cartrige.cartrige_id}}
^FS 
^XZ
{% endfor %}`;
    console.log(command);
    console.log(printer);
    printLabel(printer, command);
}

const load = () => {
    if(!window["BarsBrowserPlugin"]) {
        console.error("Could not initialize \"BARS Browser Plugin Adapter\" extension");
        return;
    }
    let printers = document.getElementById("el-printer-list");
    getPrinterList((list) => {
        list.forEach((printer) => {
        let option = document.createElement("option");
        option.text = printer;
        printers.add(option);
        });
    });

    document.getElementById("el-print-button")
      .addEventListener("click", () => {
        let printerName = document.getElementById("el-printer-list").value;
        printe(printerName);
    });
}
window.onload = load;
</script>
{% endblock content %}